.wrapper {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #e5e7eb;
  background-color: #f9fafb;
  margin-top: auto;
  width: 100%;
  position: relative;
}

.input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
}

.button {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  padding: 4px;
  outline: none;
}
.button:focus {
  outline: none;
}
