.container {
  padding: 30px 16px 16px 16px;
}

.wrapper {
  background-color: #fff;
  flex: 350px 0 0;
  border-right: 1px solid #e3e3e3;
}

.title {
  padding: 30px 0 0 16px;
  color: #38bdf8;
  font-size: 20px;
}

.chatItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 16px 0;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.chatInner {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px 0;
}

.name {
  font-size: 16px;
  color: #000;
}

.message {
  font-size: 14px;
  line-height: 1.25;
}
