.wrapper {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  border-top: 1px solid var(--gray-border);
  background-color: var(--gray-100);
  margin-top: auto;
  position: relative;
}

.input {
  flex: 1;
  padding: 10px 10px;
  border: 1px solid var(--gray-border);
  border-radius: 12px;
  font-size: inherit;
  outline: none;
}

.button {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
  padding: 4px;
}

.button:focus {
  outline: none;
}
