.messageItem {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 60%;
  margin-bottom: 12px;
  font-size: 14px;
}

.user {
  align-self: flex-end;
  text-align: right;
}

.bot {
  align-self: flex-start;
  text-align: left;
}

.group {
  display: flex;
  gap: 8px;
}

.bubble {
  padding: 10px 14px;
  border-radius: 18px;
  word-break: break-word;
  max-width: 100%;
}

.user .bubble {
  background-color: var(--message-bg-user);
  color: var(--black);
}

.bot .bubble {
  background-color: var(--message-bg-bot);
  color: var(--white);
}

.time {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 2px;
}

.user .userGroup {
  display: flex;
  flex-direction: column;
  align-items: end;
}
