.wraper {
  padding: 0 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.title {
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }
}

.descr {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.35;
}

@media (max-width: 768px) {
  .descr {
    font-size: 14px;
  }
}
