.chatItem {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--gray-border);
  cursor: pointer;
}

.chatInner {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px 0;
}

.name {
  font-size: 16px;
  color: var(--black);
}

.message {
  line-height: 1.25;
}
